<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop_department.name %>
</p>

<%= link_to 'Edit', edit_shop_department_path(@shop_department) %> |
<%= link_to 'Back', shop_departments_path %>
